
<style>
  .search-btn {
    background: linear-gradient(135deg, #fe424d, #ff3e75, #ff6e7f);
    color: white;
    border-radius: 2rem;
    padding: 0rem 1.25rem 0rem 1.25rem;
  }
  .search-btn:hover {
    background-color: #fe424d;
    color: white;
    border-radius: 2rem;
    box-shadow: 2px 3px 5px rgba(255, 118, 158, 0.8);
    
  }
   
  .search-btn i{
    margin-right: 0.4rem;
  }
  .search-inp{
    border-radius: 2rem;
    padding: 0.5rem 3rem 0.5rem 3rem;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
  }
  .search-inp:hover{
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.4);
  }

</style>

<nav class="navbar  navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>
      <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" >
        <span class="navbar-toggler-icon "></span>
      </button>
      <div class="collapse navbar-collapse collapse1" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/listings">Explore</a>
        </div>


        <div class="navbar-nav ms-auto ">
          <form class="d-flex" id="searchBar" role="search" action="/listings/search" method="get">
            <input class="form-control me-2 search-inp" id="searchquery" type="search" placeholder="Search Destinations" aria-label="Search">
            <button class="btn search-btn" type="submit"><i class="fa-solid fa-magnifying-glass " style="display: inline;"></i >Search</button>
          </form>
        </div>


        <div class="navbar-nav ms-auto">
          <a class=" bellIcon nav-link " href="/notification" > <span id="notificationCount" style="font-size: 12px; position: relative; bottom: 5px;" >0</span><i class="fa-solid fa-bell"></i></a>
          <a class="nav-link" href="/listings/new">List your home</a>
          <a href="/listings/myBookings" class="nav-link">My bookings</a>

          <div class="dropdown">
            <button class="btn custom-dropdown-btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-user"></i> &nbsp; &nbsp;  <i class="fa-solid fa-bars"></i>
            </button>
            <ul class="dropdown-menu">
              
              <% if(!currUser) {   %>
                <li><a class="nav-link active" href="/signup"><b>Sign Up</b></a></li>
                <li><a class="nav-link" href="/login"><b>Log in</b></a></li>
                <% } else { %> 
                <li><a class="nav-link" href="/logout"><b>Log out</b></a></li>
                <% } %> <hr>
                <li><a class="nav-link" href="/listings/new">List your home</a></li>
                <li><a class="nav-link" href="/notification">Notifications</a></li>
                <li><a class="nav-link" href="/messages">Messages</a></li>
                <li><a class="nav-link" href="/listings/wishlist">Your wishlist</a></li>
                <li><a class="nav-link" href="/account">Account</a></li>
                <hr>
                <li><a class="nav-link" href="/listings/wishlist">Help Centre</a></li>
            </ul>
          </div>


          
        </div>
      </div>
    </div>
  </nav>

  <script>

    document.getElementById("searchBar").addEventListener("submit", async(event)=>{
      event.preventDefault();

      let query = document.getElementById("searchquery").value;
      if(!query){
        return;
      }else{
      window.location.href = `/listings/search?query=${encodeURIComponent(query)}`;
      }
    })
    
  

   
   


  </script>