<% layout('./layouts/layouts.ejs') -%>
<body>


    <style>
        .filters{
            display: flex;
            background-color: white !important;
            overflow-x: auto;   
            align-items: center;
        }
        
        /* .filters::-webkit-scrollbar{
            display: none;
        } */

        
        .menu-container{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            
        }

        .special-btn{
            position: absolute;
            right: 100px;
            border: 0.1px solid grey;
            padding: 0.7rem;
            opacity: 0.8;
            /* margin-bottom: 1.11rem; */
            border-radius: 1rem;
            align-self: center;
        }
        
        @media screen and (max-width: 991px){
            .special-btn{
                position: relative;
                left: 2rem; 

            }
        }

        .filter a {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-right: 2rem;
            margin-top: 1rem;
            color: black;
            opacity: 0.7;
            background-color: white !important;
            text-decoration: none;
        }
     

        .filter a:hover{
            opacity: 1;
            cursor: pointer;
        }
        
        .filter p{
            font-size: 0.8rem;
        }
        .special-btn:hover{
            opacity: 1;
            cursor: pointer;
        }
        .taxInfo{
            display: none;
        }
       
        

    </style>



<div class="menu-container">

     <div class="filters">

        <div class="filter">
            <a href="/listings/filters/Trending">
                <div> <i class="fa-solid fa-fire"></i></div>
                <p>Trending</p>
            </a>
        </div>
    
        <div class="filter">
            <a href="/listings/filters/Mountains">
                <div> <i class="fa-solid fa-mountain"></i></div>
                <p>Mountains</p>
            </a>
        </div>
          
        <div class="filter">
            <a href="/listings/filters/Castles">
                <div><i class="fa-brands fa-fort-awesome"></i></div>
                <p>Castles</p>
            </a>
            
        </div>
    
        <div class="filter">
            <a href="/listings/filters/Farms">
                <div><i class="fa-solid fa-cow"></i></div>
                <p>Farms</p>
            </a>
        </div>
    
        <div class="filter">
            <a href="/listings/filters/Rooms" id="Rooms">
                <div><i class="fa-solid fa-bed" ></i></div>
                <p>Rooms</p>
            </a>
        </div>
    
    
        <div class="filter">
            <a href="/listings/filters/Pools">
                <div><i class="fa-solid fa-water-ladder"></i></div>
                <p>Pools</p>
            </a>
            
        </div>
        
        <div class="filter">
            <a href="/listings/filters/Arctic">
                <div> <i class="fa-solid fa-snowflake"></i></div>
            <p>Arctic</p>
            </a>
        </div>
    
        <div class="filter">
            <a href="/listings/filters/Amazingcities">
                <div> <i class="fa-solid fa-mountain-city"></i>  </div>
                <p>Amazing cities</p>
            </a>
            
        </div>
    
        <div class="filter">
            <a href="/listings/filters/Camping">
                <div> <i class="fa-solid fa-binoculars"></i></div>
                <p>Camping</p>
            </a>
            
        </div>

        <div class="filter">
            <a href="/listings/filters/Domes">
                <div><i class="fa-solid fa-igloo"></i></i></div>
                <p>Domes</p>
            </a>
        </div>
        
        <div class="filter">
            <a href="/listings/filters/Boats">
                <div> <i class="fa-solid fa-ship"></i></div>
                <p>Boats</p>
            </a>
        </div>
     </div>

        <div class="filter special-btn">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault">Display taxes</label>
              </div>
        </div>
</div>


     
    <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1 mt-3">
            <% for (let list of allListings){ %>
                <a href="/listings/<%= list._id %>" class="listClick">
                    <div class="Listingcard card col">
                        <img src="<%=list.image.url %>" class="card-img-top" alt="Listing image" style="height: 20rem">
                            <div class="card-img-overlay">
                            </div>
                            <div class="card-body">
                                <p class="card-text ">
                                   <b> <%= list.title %> </b>
                                    <br>
                                &#8377;<%= list.price.toLocaleString("en-IN") %> / night
                                <i class="taxInfo"> &nbsp; &nbsp;+ 18% GST</i>
                                </p>
                            </div>
                            
                    </div>
                </a>
            <%  } %>
     </div>

<script>
    let taxSwitch = document.getElementById("flexSwitchCheckDefault");
    taxSwitch.addEventListener("click", ()=>{
        let taxInfo = document.getElementsByClassName("taxInfo"); // we will here use getElementByClassName bc with id we'll get single element only as every element has different id unlike the case with class
        for(let info of taxInfo){
            if(info.style.display === "inline"){
                info.style.display = "none"
            }else{
                info.style.display = "inline"
            }
        }
    })

    let Rooms = document.getElementById("Rooms");
    Rooms.addEventListener("click",()=>{
        
    })


</script>

</body>

