<% layout('./layouts/layouts.ejs') -%>
<body>
    
    <div class="row">
        <div class="col-8 offset-2">
            <br> <br>
    <form action="/listings" method="post" novalidate class="needs-validation">
        <h2>Create a new listing</h2> <br>
        <div class="title mb-3">
            <label for="title"  class="form-label">Title</label>
            <input type="text" placeholder="Enter a catchy Title" name="listing[title]" class="form-control"required >

            <div class="invalid-feedback">Please enter a title</div>
        </div>

        <div class="description mb-3">
            <label for="descriptions" class="form-label">Description</label>
            <textarea type="text" class="form-control" name="listing[description]"required></textarea>

            <div class="invalid-feedback">Please enter a description</div>
        </div>

        <div class="location mb-3">
            <label for="location" class="form-label">Location</label>
            <input type="text" name="listing[location]"  placeholder="Jaipur, Rajasthan" class="form-control"required>

            <div class="invalid-feedback">Please enter a valid location</div>
        </div>
        
        <div class="image mb-3">
            <label for="image" class="form-label">image</label>
            <input type="text" name="listing[image]" placeholder="Enter image URL/Link" class="form-control" >
        </div>

    <div class="row">
        <div class="country mb-3 col-md-4">
            <label for="country" class="form-label">Country</label>
            <input type="text" name="listing[country]"  placeholder="India" class="form-control" required>

            <div class="invalid-feedback">Please enter a valid country name</div>
        </div>
        
        <div class="price mb-3 col-md-3">
            <label for="price" class="form-label" >Price</label>
            <input   class="form-control" placeholder="1200" name="listing[price]" required>

            <div class="invalid-feedback">Please enter a valid price</div>
        </div>
    </div>   
    
    <br> <br>
    <button class="btn btn-dark add-btn">Add</button>
    <br> <br>
    </form>
    
</div>
</div>
</body>
