<% layout('./layouts/layouts.ejs') -%>

<body>
    
    <div class="container mt-4">
        <div class="card p-3">
            <h5 class="mb-3">Notifications</h5>
            <ul class="list-group">
                <% notifications.forEach(notification => { %>
                    <li class="list-group-item d-flex justify-content-between align-items-center bg-light rounded shadow-sm mb-2">
                        <div>
                            <p class="mb-1"><%= notification.message %></p>
                            <small class="text-muted"><%= notification.createdAt.toLocaleString() %></small> &nbsp;&nbsp;&nbsp;
                            <% if(!notification.isRead) {%>

                                <span style="border: solid 1px black !important; border-radius: 14px; background-color: lightblue; padding: 5px ;" >New </span>

                            <% } %>
                            <span></span>
                        </div>
                    </li>
                <% }); %>
            </ul>
        </div>
    </div>
    



</body>