<% layout('./layouts/layouts.ejs') -%>
<body>

    <H1>Chat</H1>

    <div id="chatbox" style="background-color: gray; height: 400px;">



        <ul id="messages">
            <% messages.forEach(message => { %>
                <li class="<%= message.sender.toString() === userId.toString() ? 'sent' : 'received' %>">
                    <%= message.text %>
                </li>
            <% }) %>
        </ul>
    </div>

    <form onsubmit="handleSubmit(event)">
        <input type="text" id="messageElement">
        <button>Submit</button>
    </form>
 

    
    <script src="/socket.io/socket.io.js"></script>
    <script>

        const userId = "<%= userId %>"
        const roomId = "<%= roomId %>"
        const socket = io();
        socket.on("connect", ()=>{
            console.log("a user has been connected", socket.id);
        })

        socket.emit('joinRoom', { roomId });

        function handleSubmit(event){
          let messageInput =  document.getElementById("messageElement")
          message = messageInput.value
          if(message === "")return;

          //emitting the message to server
          socket.emit("sendMsg", {
            roomId, sender: userId, content: message
          })
          messageInput.value = "";
        }

        socket.on("new-msg", (data)=>{
            const messageLsit = document.getElementById("messages");
            const newMessage = document.createElement("li");
            newMessage.textContent = `${data.sender}: ${data.content}`;
            messageLsit.appendChild(newMessage);
        })

        
    </script>

</body>
